// Useful mixins for CSS3 effects.
@import nib

// Make browsers render HTML elements consistently.
@import _normalize

body
  font normal 13px menlo,'andale mono','courier new',sans-serif
  margin 0 auto
  background #eaf4fc
  color #333

header
  width 200px
  margin 100px auto
  text-align center
  line-height 100px

section
  width 600px
  margin 300px auto
  span
    font-size 14px
  div
    width 600px
    height 500px
    background #83ccd2

div#map-wrapper
  width 1000px
  margin 0 auto

div#map
  width 1000px
  height 800px

h1
  font-weight normal
  font-size 6px

@import _ie8
