header
  div.wow.bounceInDown
    a tokyo-foosball.org

div#map-wrapper.wow.pulse
  div.map-container

section.wow.fadeIn
  span members
  .wow.fadeIn(data-wow-duration="2s", data-wow-delay="1s") content reveal here

section
  a plz join us :)
  .wow.slideInLeft(data-wow-duration="1s", data-wow-delay="5s") content reveal here
